<div class="container" id="play">
    <div class="well">
        <!--<div>
            <audio controls>
                <script> var path= '../../uploadedfiles/05 - Yellipoke Shyamala [www.AtoZmp3.in].mp3'
                </script>
                <source src='../../uploadedfiles/05 - Yellipoke Shyamala [www.AtoZmp3.in].mp3' type="audio/mpeg" id = 'audio-source'>
            </audio>

        </div>-->
       <script src="http://code.jquery.com/jquery-latest.js"></script>

       <div></div>
       <script>
          var theFile = '../../uploadedfiles/04 - Mummy Returns [www.AtoZmp3.in].mp3';
          $("div").html("<audio src='" + theFile + "' controls preload='auto' autobuffer></audio>");
       </script>

    </div>
</div>
