<!--Features-->
<div class="container">
    <section>
        <div class="panel-group" id="features">
            <h2>Features <small>Some of the coolest features of the app</small></h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-star"></span>
                        <h4 class="text-center">Uploading audiofile</h4>
                        <p class="text-justify">Modern audio production involves an ever-expanding set of specialized tools. Each year, there are the number of applications using audio increases. An audio file format is a file format for storing digital audio data on a computer system.The bit layout of the audio data (excluding metadata) is called the audio coding format and can be uncompressed, or compressed to reduce the file size, often using lossy compression. MP3, is an audio coding format for digital audio which uses a form of lossy data compression. It is a common audio format for consumer audio streaming or storage, as well as a de facto standard of digital audio compression for the transfer and playback of music on most digital audio players and computing devices. This feature enables you to upload the audio file of your own interest from your system.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-heart"></span>
                        <h4 class="text-center">Applying filters</h4>
                        <p class="text-justify">Different audio filers are used in everyday day life which depend on the sound frequency. There are many types of filters for each type of filter the frequency of the audio files changes.In circuit theory, a filter is an electrical network that alters
                            the amplitude and/or phase characteristics of a signal with
                            respect to frequency. Ideally, a filter will not add new frequencies
                            to the input signal, nor will it change the component
                            frequencies of that signal, but it will change the relative
                            amplitudes of the various frequency components and/or
                            their phase relationships. Filters are often used in electronic
                            systems to emphasize signals in certain frequency ranges
                            and reject signals in other frequency ranges.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-envelop"></span>
                        <h4 class="text-center">Playing audio file</h4>
                        <p class="text-justify">This feature enables you to play the sudio file which you have uploaded as well to the one which you applied filter. This feature allows you to play and enjoy the audio file there itself.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<hr>