<!--How to use-->
<div class="container">
    <section>
        <div class="page-handler" id="howtouse">
            <h2>How to Use <small>The procedure on how to use our service. </small></h2>
        </div>  <!--End page handler-->

        <div class="row">
            <div class="col-lg-8">
                <h3 class="text-center">Upload audio file</h3>
                <p class="text-justify">For uploading an audio file go to the home page and then select the choose file option displayed below to upload the file required file from your system and click on the upload button displayed below.</p>
            </div>
            <div class="col-lg-4">
                <img src="Images/imac.jpg" class="img-responsive" alt="image">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h3 class="text-center">Apply filters</h3>
                <p class="text-justify">A filter is a device or process that removes some unwanted components or features from a signal. Filtering is a class of signal processing, the defining feature of filters being the complete or partial suppression of some aspect of the signal. To apply filters for the uploaded audio file, click on the filters option displayed on the top left corner of the page. There you can choose the filter you want to apply and click on the apply option displayed below.</p>
            </div>
            <div class="col-lg-4">
                <img src="Images/smartphone.jpg" class="img-responsive" alt="image">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h3 class="text-center">Play audio file</h3>
                <p class="text-justify">After applying filter to your audio file, it redirects you in to a new web page where you can play and hear the audio file.</p>
            </div>
            <div class="col-lg-4">
                <img src="Images/user.jpg" class="img-responsive" alt="image">
            </div>
        </div>
    </section>
</div>
<hr>